body {
  background-color: #fafafa;
}

p {
  color: hsl(229, 6%, 66%);
}

.card {
  border-radius: 8px;
  box-shadow: 0px 15px 20px #8f8f8f;
}

.card.supervisor {
  border-top: solid 4px hsl(180, 62%, 55%);
}

.card.team-builder {
  border-top: solid 4px hsl(0, 78%, 62%);
}

.card.karma {
  border-top: solid 4px hsl(34, 97%, 64%);
}

.card.calculator {
  border-top: solid 4px hsl(212, 86%, 65%);
}
