* {
  font-size: 15px;
}

body {
  background-color: #fafafa;
  font-family: Poppins, sans-serif;
}

header {
  max-width: 350px;
}

p {
  color: hsl(229, 6%, 66%);
}

h1 {
  font-size: 1.6rem;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 15px 20px #8f8f8f;
  max-width: 350px;
}

.card h2 {
  font-size: 1.4rem;
}

.card.supervisor {
  border-top: solid 4px hsl(180, 62%, 55%);
}

.card.team-builder {
  border-top: solid 4px hsl(0, 78%, 62%);
}

.card.karma {
  border-top: solid 4px hsl(34, 97%, 64%);
}

.card.calculator {
  border-top: solid 4px hsl(212, 86%, 65%);
}
